@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #3F2B96, #A8C0FF);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    margin: auto 10% auto 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex-basis: 35%;
}

.card > h1 {
    color: #7963a8;
}

.card > p {
    font-size: 14px;
    padding: 5px;
}

.card {
    background-color: #EEF3D2;
    padding: 25px 25px 25px 25px;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn {
    text-decoration: none;
    color: #6A67CE;
    font-size: 10rem;
    transition: 0.2s;
}

.btn:hover {
    color: #9390eb;
}

@media screen and (max-width: 540px) {
    .container {
        margin: 5px;
    }

    .col {
        flex-basis: 100%;
    }
}
